@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap%27');

*{
    overflow: hidden;
    margin: 0;
    padding: 0;
}

html{
    background: #adbf00;
}

.container{
    position: absolute;

    width: 100vw;
    height: 100vh;

    font-family: Comfortaa, sans-serif;
}

.left-container{
    position: absolute;

    width: 450px;
    height: calc(100vh - 120px);

    display: flex;
    flex-direction: column;

    background: #666666;
}

.left-container input, .left-container button{
    position: relative;

    padding: 14px;
    width: 80%;

    color: black;

    background: transparent;
    border: 3px solid black;
    border-radius: 14px;

    margin: auto auto;

    transition-property: background;
    transition-duration: 0.6s ;
}

.left-container input:hover, .left-container button:hover{
    background: white;
    transition-property: background;
    transition-duration: 0.6s;
    cursor: pointer;
}

.right-container{
    position: absolute;

    left: 450px;

    width: calc(100vw - 450px);
    height: 100vh;
}

.right-container table{
    position: relative;

    margin-top: 40px;
    margin-left: 10%;

    width: 90%;

    text-align: center;

    letter-spacing: 1px;
}

.right-container table tr{

}

footer{
    position: absolute;
    z-index: 999;

    height: 125px;
    width: 100vw;

    bottom: 0;

    background: #666666;
}

footer img{
    margin: 25px calc(calc(100vw - 440px) / 2);
}


@media screen and (max-width: 1130px){
    .left-container{
        width: 250px;
    }
    .right-container{
        left: 250px;
        width: calc(100vw - 250px);
    }
}

@media screen and (max-width: 880px){
    .left-container{
        top: 0;
        left: 0;

        height: 150px;
        width: 100%;

        flex-direction: row;
    }

    .right-container{
        top: 155px;
        left: 0;


        height: calc(100vh - 155px);
        width: 100vw;
    }

    .left-container button, .left-container input {
        width: 30%;
    }
}

@media screen and (max-width: 470px){
    .right-container table{
        margin: 0 auto;
        font-size: 14px;
    }

    footer{
        height: 100px;
    }

    footer img{
        width: 320px;
        margin: 25px calc(calc(100vw - 320px) / 2);
    }
}