@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap%27');

* {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: Comfortaa;
}

.container {
    position: absolute;

    height: 100vh;
    width: 100vw;

    background: #adbf00;
}

header {
    position: absolute;

    top: 0;

    height: 80px;
    width: 100vw;

    background-color: #666666;

    text-align: center;
}

header h1 {
    margin: 20px 0;

    color: #FFFFFF;
}

.form-container {
    position: absolute;

    top: 80px;

    height: calc(100vh - 80px);
    width: 100vw;

    display: flex;
    flex-direction: column;
}

.form-container form{
    position: absolute;

    left: calc(calc(100vw - 400px) / 2);

    height: min-content;
    width: 400px;
}

.form-container label, .form-container input, .form-container button{
    display: flex;
    flex-direction: column;

    padding: 15px;

    text-align: center;
}

.form-container input{
    width: 300px;

    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;

    border: 3px solid black;
    border-radius: 12px;
}

.form-container button {
    margin: 0 auto;

    border: 3px solid black;
    border-radius: 12px;

    transition-property: background;
    transition-duration: 0.6s;
}

.form-container button:hover{
    background: transparent;
    transition-property: background;
    transition-duration: 0.6s;
}

footer {
    position: absolute;

    bottom: 0;

    height: 100px;
    width: 100vw;

    background: #666666;
}



footer img {
    width: 370px;

    margin: 15px calc(calc(100vw - 370px) / 2);
}



@media screen and (max-width: 400px){
    footer img{
        width: 280px;

        margin: 22px calc(calc(100vw - 280px) / 2);
    }
}