@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap%27');


*{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

html{
    background: #FFFFFF;

    font-family: Comfortaa, sans-serif;
}

/** Header */

header{
    position: absolute;

    top: 0;

    height: 100px;
    width: 100vw;

    display: flex;
    flex-direction: row;

    background: #666666;
}

header h2{
    position: relative;
    margin: 35px 20px;

    color: #FFFFFF;
}

header .right{
    position: absolute;

    right: 0;

    height: 100px;
    width: auto;

    display: flex;
    flex-direction: column;

    justify-content: center;
}

header .right li{
    margin-right: 30px;

    list-style: none;

    border: 2px solid #FFFFFF;
    padding: 12px;
    border-radius: 24px;

    transition-property: background;
    transition-duration: 0.6s;
}

header .right li a{
    color: #FFFFFF;
    text-decoration: none;
}

header .right li:hover{
    background: #000000;
    transition-property: background;
    transition-duration: 0.6s;
}

header .right li a:hover{
    text-decoration: 1px underline red;
}

/** Fin header */
/** Sidebar */

nav.side-bar{
    position: absolute;

    top: 100px;
    left: 0;

    height: calc(100vh - 100px);
    width: 250px;

    background: #666666;
}

/** Fin sidebar */

.inside-container{
    position: absolute;

    top: 100px;
    left: 250px;

    height: calc(100vh - 100px);
    width: calc(100vw - 250px);

    display: flex;
    flex-direction: column;
}

/** Tacktime */

.tacktime{
    position: relative;

    margin: 20px 20px;

    width: calc(100% - 40px);
    height: 170px;

    background: #adbf00;
}

.tacktime .tacktime--header{
    position: absolute;

    top: 0;

    height: 50px;
    width: 100%;

    background: #666666;

    display: flex;
    flex-direction: column;

    justify-content: center;

    text-align: center;
    color: #FFFFFF;
}

/** Fin tacktime */
/** Production globale */

.global-production{
    position: absolute;

    top: 220px;
    left: 20px;

    width: calc(calc(100% / 2) - 35px);
    height: calc(calc(100% - 250px));

    background: #adbf00;
}

.global-production .global-production--header{
    position: absolute;

    top: 0;

    height: 50px;
    width: 100%;

    background: #666666;

    display: flex;
    flex-direction: column;

    justify-content: center;

    text-align: center;
    color: #FFFFFF;
}

/** Fin production globale */
/** Actual stock */

.actual-stock{
    position: absolute;

    top: 220px;
    right: 20px;

    width: calc(calc(100% / 2) - 35px);
    height: calc(calc(100% - 250px));

    background: #adbf00;
}

.actual-stock .actual-stock--header{
    position: absolute;

    top: 0;

    height: 50px;
    width: 100%;

    background: #666666;

    display: flex;
    flex-direction: column;

    justify-content: center;

    text-align: center;
    color: #FFFFFF;
}


@media screen and (max-width: 1080px){
    nav.side-bar{
        left: -250px;
    }

    .inside-container{
        left: 0;

        width: 100vw;
    }
}

@media screen and (max-width: 775px){
    .global-production{
        left: 20px;

        width: calc(100vw - 40px);
    }

    .actual-stock{
        top: calc(250px + calc(100% - 250px));
        left: 20px;

        width: calc(100vw - 40px);
    }
}