@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap%27');

*{
    overflow: hidden;
    margin: 0;
    padding: 0;
}

html {
    background-color: #adbf00;
}
/* *******************************************  body  ************************************************* */

h1{
    font-size: 3.5em;
    font-family: Comfortaa;

    text-align: center;

    color: black;

    margin-top: 40px;

}

.mdp-container input{
    font-size: 1.2em;
    height: 50px;
    width: 300px;

    border: 0.1em solid black;
    border-radius: 15px;

    text-align: center;
}

.mdp-container button {
    font-size: 1.2em;
    height: 50px;
    width: 200px;

    border: 0.1em solid black;
    border-radius: 15px;

}

.mdp-container {
    text-align: center;

}




/* ******************************************  footer  ************************************************ */

footer {
    position: absolute;

    bottom: 0;

    height: 125px;
    width: 100vw;

    background-color: #666666;
}

footer #logo{
    margin: 25px calc(calc(100vw - 440px) / 2);
}